# Introduction to trundlerPy

This post introduces the trundlerPy package and its methods for interacting with the Trundler API. 
trundlerPy is a Python package to enable users to interact with the data available in the Trundler database with an easy-to-use and straightforward Python interface. To help facilitate users with the Data Analysis, this package includes methods for converting JSON data into Pandas DataFrame.

## Installation

Install from GitHub.

In [3]:
!pip install git+https://github.com/lcalcagni/trundlerPy

## Set the API Key

To access the full API you’ll need to first specify an API key.
To obtain a key, please get in touch. Contact details are in DESCRIPTION (Will be).

Storing your keys received from APIs and other sensitive information in a secure file or as an environment variable is considered best practice to avoid any potential malicious activity. Therefore, we save the API key as environment variables to keep our credentials safe.

In [5]:
import os

In [6]:
key = os.getenv('TRUNDLER_KEY')

## Usage

In [5]:
from trundlerPy import trundlerPy

In [6]:
tr = trundlerPy(key = key)

### Retailers

Use retailer() to get a list of retailers.

In [11]:
tr.retailer()

,retailer_id,retailer,retailer_url,currency,visible
0,1,EEM Technologies,https://www.eemtechnologies.com/,USD,True
1,2,Clicks,https://clicks.co.za/,ZAR,True
2,3,Dischem,https://www.dischem.co.za/,ZAR,True
3,4,Game,https://www.game.co.za/,ZAR,True
4,5,Woolworths,https://www.woolworths.co.za/,ZAR,True
...,...,...,...,...,...
123,124,Getwine,https://www.getwine.co.za/,ZAR,True
124,125,Wickes,https://www.wickes.co.uk/,GBP,False
125,126,Order Wine,https://orderwine.co.za/,ZAR,True
126,127,Debenhams,https://www.debenhams.com/,GBP,False
127,128,Premier Estates Wine,https://www.premierestateswine.co.uk/,GBP,False

Or you can access the details for a specific retailer.

In [8]:
tr.retailer(45)

,retailer_id,retailer,retailer_url,currency,visible
0,45,Builders Warehouse,https://www.builders.co.za/,ZAR,True

### Products

Get a list of products for a specific retailer.

In [9]:
tr.retailer_products(5)

,product_id,product,brand,model,sku
0,607273,CLINIQUE 3-Step Introduction Kit Skin Type 4,Clinique,None,20714464080
1,607283,CLINIQUE 3-Step Introduction Kit Skin Type 2,Clinique,None,20714598983
2,607289,CLINIQUE 3-Step Introduction Kit Skin Type 1,Clinique,None,20714598976
3,607298,NUXE Prodigieux Le Parfum Set,Nuxe,None,3264680019104
4,607305,R5000 Country Road/Trenery Gift Card,None,None,6009173975959
...,...,...,...,...,...
95,607891,144TC Cotton Blend Continental Pillowcase,None,None,6005000602036
96,607896,Medallion Embroidery Quilt 230x230cm,None,None,6009214948300
97,607902,Soft Touch Hangers 5 Pack,None,None,6009214478456
98,607903,200TC Cotton Flat Sheet,Studio. W,None,6009204812369
99,607905,Satin Stitch 180TC Cotton Blend Duvet Cover Set,None,None,6009214591858

Products can be filtered by name and brand.

In [10]:
tr.retailer_products(5, product = "coffee", brand = "nespresso")

,product_id,product,brand,model,sku
0,667365,NESPRESSO Essenza Mini Coffee Machine,Nespresso,None,7630039618711
1,667426,NESPRESSO Citiz&Milk Coffee Machine,Nespresso,None,7630054430978
2,667654,NESPRESSO Lattissima Touch Coffee Machine,Nespresso,None,7630047615160
3,729093,NESPRESSO Creatista Plus Coffee Machine,Nespresso,None,7630039648893
4,667815,NESPRESSO Lattissima One Coffee Machine,Nespresso,None,7630039646479
5,2918572,Creatista Plus Coffee Machine - SILVER,Nespresso,None,7630039648893
6,2918582,Citiz&Milk Coffee Machine - WHITE,Nespresso,None,7630054430978
7,2918584,Lattissima One Coffee Machine - WHITE,Nespresso,None,7630039646479
8,2918599,Essenza Mini Coffee Machine - BLACK,Nespresso,None,7630039618711
9,2918601,Lattissima Touch Coffee Machine - SILVER,Nespresso,None,7630047615160

Get information on a specific product

In [6]:
tr.product(530290)

,product_id,retailer_id,product_url,product,brand,model,sku,barcodes
0,530290,9,https://www.pnp.co.za/pnpstorefront/pnp/en/All...,Ola Rich 'n Creamy Magical Unicorn Ice Cream 1.8l,None,None,000000000000777619_EA,[6001087378543]

### Prices

Get price history data for a specific product.

In [5]:
tr.product_prices(530290)

    product_id                       time  price  price_promotion available
0       530290  2020-07-13T03:32:27+00:00  54.99              NaN      None
1       530290  2020-07-10T03:35:11+00:00  54.99              NaN      None
2       530290  2020-07-08T02:54:34+00:00  54.99              NaN      None
3       530290  2020-07-06T15:21:13+00:00  54.99              NaN      None
4       530290  2020-07-03T04:00:57+00:00  54.99              NaN      None
..         ...                        ...    ...              ...       ...
73      530290  2020-03-07T00:32:36+00:00  49.99            39.99      None
74      530290  2020-02-22T00:31:17+00:00  49.99              NaN      None
75      530290  2020-02-15T00:32:47+00:00  49.99            37.99      None
76      530290  2020-02-08T00:32:37+00:00  49.99            37.99      None
77      530290  2020-02-01T00:34:24+00:00  49.99            44.99      None

[78 rows x 5 columns]